@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    list-style: none;
    color: #fff;
    text-decoration: none;
}
section {
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(Media/background.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}
section header nav {
    display: flex;
    justify-content: space-between;
    padding: 50px 75px;
}
section header nav > a {
    font-size: 1.3em;
    font-weight: 500;
}
section header nav ul li {
    display: inline-block;
}
section header nav ul li a {
    font-size: 0.95em;
    margin-left: 30px;
    opacity: 0.9;
    font-weight: 400;
    transition: 0.3s;
}
section header nav ul li a:hover {
    color: rgb(180, 171, 171);
}
section .content {
    position: absolute;
    top: 55%;
    left: 75px;
    transform: translate(0, -50%);
}
section .content h1 {
    font-size: 2.5em;
    opacity: 0.9;
}
section .content p {
    font-size: 0.9em;
    width: 55%;
    opacity: 0.9;
    font-weight: 400;
    padding: 15px 0 35px;
}
section .content > a {
    border: 2px solid #fff;
    border-radius: 30px;
    padding: 8px 28px;
    font-weight: 500;
    opacity: 0.9;
    font-size: 0.95em;
    transition: 0.3s;
}
section .content > a:hover {
    background: #3d3b3b;
    border-color: aqua;
}