@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    list-style: none;
    color: #fff;
    text-decoration: none;
}
section {
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(Media/background.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}
section header nav {
    display: flex;
    justify-content: space-between;
    padding: 50px 75px;
}
section header nav > a {
    font-size: 1.3em;
    font-weight: 500;
}
section header nav ul li {
    display: inline-block;
}
section header nav ul li a {
    font-size: 0.95em;
    margin-left: 30px;
    opacity: 0.9;
    font-weight: 400;
    transition: 0.3s;
}
section header nav ul li a:hover {
    color: rgb(180, 171, 171);
}
section .content {
    position: absolute;
    top: 55%;
    left: 75px;
    transform: translate(0, -50%);
}
section .content h1 {
    font-size: 2.4em;
    opacity: 0.9;
}
section .content p {
    font-size: 0.9em;
    width: 55%;
    opacity: 0.9;
    font-weight: 400;
    padding: 15px 0 35px;
}
section .content > a {
    border: 2px solid #fff;
    border-radius: 30px;
    padding: 8px 28px;
    font-weight: 500;
    opacity: 0.9;
    font-size: 0.95em;
    transition: 0.3s;
}
section .content > a:hover {
    background: #3d3b3b;
    border-color: aqua;
}
.wrapper {
    position: absolute;
    top: 55%;
    right: 70px;
    transform: translate(0, -50%);
    width: 380px;
    text-align: center;
}
form h2 {
    font-size: 2em;
    text-align: center;
}
form .inputbox {
    position: relative;
    margin: 40px 0 0;
    width: 100%;
    height: 45px;
}
.inputbox input {
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
    border: 1px solid #fff;
    border-radius: 40px;
    padding: 0 40px;
    box-sizing: border-box;
}
.inputbox .fa-solid {
    position: absolute;
    top: 50%;
    left: 18px;
    transform: translateY(-50%);
    font-size: 0.9em;
}
.inputbox label {
    position: absolute;
    top: 50%;
    left: 42px;
    transform: translateY(-50%);
    font-size: 0.9em;
    pointer-events: none;
    opacity: 0.9;
    font-weight: 500;
    transition: 0.3s;
}
.inputbox input:focus ~ label,
.inputbox input:valid ~ label {
    top: -10px;
    left: 25px;
    font-size: 0.75em;
}
.remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 0.85em;
    font-weight: 400;
    padding: 15px 5px;
    opacity: 0.9;
}
form .submit {
    color: #000;
    font-weight: 600;
    font-size: 0.95em;
    opacity: 0.95;
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 40px;
    background: linear-gradient(90deg, #1e0b04, #71412a);
    color: #fff;
    cursor: pointer;
    box-shadow: 0 5px 10px #000;
    transition: 300ms;
}
.signup {
    padding: 25px 0;
    font-size: 0.8em;
    font-weight: 500;
    opacity: 0.9;
}